body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: #F7F7F7;
}

.header {
  background-color: #222222;
  height: 30vh;
  padding-bottom: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-emoji {
  font-size: 48px;
  margin: 0 auto;
  text-align: center;
}

.header-title {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.header-description {
  color: #CFCFCF;
  font-size: 15px;
  margin: 4px auto;
  max-width: 1024px;
  text-align: center;
}

.chart-wrapper {
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.input-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
}

.card {
  margin-bottom: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: -50vh auto 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu-title {
  margin-bottom: 6px;
  font-weight: bold;
  color: #079A82;
}