body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: #F7F7F7;
}

.header {
  background-color: #222222;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-emoji {
  font-size: 48px;
  margin: 0 auto;
  text-align: center;
}

.header-title {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.header-description {
  color: #CFCFCF;
  font-size: 15px;
  margin: 4px auto;
  max-width: 1024px;
  text-align: center;
}

.wrapper {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.card {
  margin-bottom: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}